#house-plans {
    margin:20px 0;
    flex-wrap:wrap;
}

.house-plan {
    background:skyblue;
    border:2px solid navy;
    border-radius:5px;
    margin:auto;
    padding:5px;
    justify-content:space-around;
    margin:10px 5px;
}

.house-image img {
    max-width:100%;
}

.house-plan h1 {
    font-size:1.5em;
    margin:.2em;
}

.house-description p {
    margin:.2em;
}

#house-plan-link {
    text-decoration:none;
    display:block;
    width:30%;
    margin:0;
}

#display-info img {
    margin-right:10px;
}

#edit-links {
    font-size:2em;
}

#edit-links a {
    text-decoration: none;
    padding:5px;
}

/* For larger screens */
@media only screen and (min-width: 768px) {
    .house-image {
        width:30%;
        margin-right:10px;
    }

    .house-description {
        width:70%;
    }
  }