#slideshow {
    position:relative;
}

#slideshow img {
    max-width:100%;
}

.arrow {
    position:absolute;
    top:40%;
    font-size:2em;
    padding:5px;
    background:rgba(255,255,255, 0.5);
    text-decoration: none;
    color:black;
}

.right {
    right:10px;
}

.left {
    left:10px;
}