.trees {
    justify-content:center;
}

.tree {
    flex:1;
    background-color:darkseagreen;
    padding:5px;
    border-radius: 5px;
    margin:10px;
    max-width:25%;
    padding:20px;
    position:relative;
    padding-bottom:50px;
}

.prune-button-container {
    bottom:0;
    position:absolute;
}

.tree h1 {
    font-size:24px;
    text-align: center;
}

.tree img {
    max-width:50%;
    border:2px solid green;
    border-radius:5px;
    display:block;
    margin:auto;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

.pruned {
    opacity: 0.5;
}